---
import Base from '@/layouts/Base.astro'
import { Image } from 'astro:assets'
import SocialLinks from '@/components/SocialLinks.astro'
import BrutalTag from '@/components/BrutalTag.astro'

import { PROFILE } from '@/constants/profile.ts'
---

<Base meta={{ title: 'indra87g - Homepage' }}>
  <div
    class="mt-5 flex flex-wrap items-center justify-between gap-8 pb-12 text-text dark:text-darkText"
  >
    <div class="max-w-md">
      <BrutalTag emoji="🤣" text="Fullstuck Developer" />
      <p class="mt-4 text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dicta
        officia debitis molestiae natus, hic illo eveniet quia. Ad quae
        accusamus cumque ducimus voluptatum explicabo ratione labore est quasi
        rerum!
      </p>
    </div>

    <div class="flex flex-col items-center text-center">
      <div class="relative h-[250px] w-[250px]">
        <Image
          height={250}
          width={250}
          src="/profile.jpg"
          alt="indra87g Avatar"
          class="relative z-10 rounded-full border-[6px] border-yellow-500 bg-yellow-500"
        />
        <div
          class="absolute left-0 top-0 -z-10 h-full w-full rounded-full bg-gradient-to-br from-pink-400 to-purple-600"
        >
        </div>
      </div>

      <div class="mt-4">
        <div class="text-4xl font-bold text-yellow-500">{PROFILE.NAME}</div>
        <div class="text-lg">Call me "Indra"</div>
      </div>

      <div class="mt-4 flex gap-4">
        <SocialLinks />
      </div>
    </div>
  </div>
</Base>
