---
import Base from '@/layouts/Base.astro'
import { Image } from 'astro:assets'
import SocialLinks from '@/components/SocialLinks.astro'
import BrutalTag from '@/components/BrutalTag.astro'

import { PROFILE } from '@/constants/profile.ts'
---

<Base meta={{ title: 'indra87g - Homepage' }}>
    <div class="pb-12 mt-5 text-text dark:text-darkText">
    <SocialLinks />
    <div class="text-5xl font-bold mb-3">
      {PROFILE.NAME}
    </div>
    <BrutalTag emoji="🤣" text="Fullstuck Developer" />
    <div class="relative h-[250px] w-[250px]">
        <Image
          height={250}
          width={250}
          src="/profile.jpg"
          alt="MZP Avatar"
          class="relative z-10 rounded-full"
        />
    </div>
    <div class="py-2">
      <p class="text-lg">
        {PROFILE.TAGLINE}
      </p>
    </div>
  </div>

</Base>
