---
export interface Props {
    text: string
    emoji: string
}

const { emoji, text } = Astro.props
---

<div
  class="group relative flex max-w-fit flex-row items-center justify-center rounded-2xl bg-main px-4 py-1.5 text-sm font-medium shadow-[inset_0_-8px_10px_#8fdfff1f] backdrop-blur-sm transition-shadow duration-500 ease-out [--bg-size:300%] hover:shadow-[inset_0_-5px_10px_#8fdfff3f]"
>
  <div
    class="animate-gradient absolute inset-0 block h-full w-full from-gray-400 via-gray-500 to-gray-600 bg-gradient-to-r bg-[length:var(--bg-size)_100%] p-[1px] [border-radius:inherit] ![mask-composite:subtract] [mask:linear-gradient(#fff_0_0)_content-box,linear-gradient(#fff_0_0)]"
  >
  </div>
  {
    emoji && (
      <Fragment>
        <span>{emoji}</span>
        <hr class="mx-2 h-4 w-px shrink-0 bg-darkBorder" />
      </Fragment>
    )
  }
  <span
    class="animate-gradient inline bg-gradient-to-r from-[#cc8f0e]/100 via-[#cc8f0e]/75 to-[#cc8f0e]/50 bg-[length:var(--bg-size)_100%] bg-clip-text text-transparent"
  >
    {text}
  </span>
</div>
