---
const today = new Date()
const commitMessage =
  import.meta.env.VERCEL_GIT_COMMIT_MESSAGE || 'No commit info'
const commitSha =
  import.meta.env.VERCEL_GIT_COMMIT_SHA?.slice(0, 7) || 'unknown'
---

<footer
  class="flex w-full flex-col items-center justify-between rounded-base border-2 border-border bg-white px-5 py-10 text-yellow-600 dark:border-darkBorder dark:bg-secondaryBlack dark:text-yellow-400 md:flex-row md:px-24 2xl:p-32"
>
  <!-- Brand / Logo -->
  <div class="flex flex-col items-center md:items-start">
    <h1 class="text-center text-2xl font-bold md:text-left">INDRA87G</h1>
    <p class="mt-2 text-sm">© {today.getFullYear()}</p>
    <p class="mt-1 text-xs">
      v1.0.0, deployed at {today.toISOString().split('T')[0]}
    </p>
    <p class="mt-1 text-xs">
      Latest commit: <a
        href=`https://github.com/indra87g/indra87g.vercel.app/commit/${commitSha}`
        >{commitMessage}</a
      >
    </p>
  </div>

  <!-- Navigation Links -->
  <div class="grid grid-cols-2 gap-4 text-center md:grid-cols-3 md:gap-8">
    <div>
      <h3 class="font-semibold">General</h3>
      <ul class="space-y-2">
        <li><a href="/blog" class="hover:underline">Blog</a></li>
        <li><a href="/explore" class="hover:underline">Explore</a></li>
        <li><a href="/projects" class="hover:underline">Projects</a></li>
      </ul>
    </div>
    <div>
      <h3 class="font-semibold">Navigations</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:underline">Talks</a></li>
        <li><a href="#" class="hover:underline">Credits</a></li>
        <li><a href="#" class="hover:underline">Support</a></li>
        <li><a href="#" class="hover:underline">Resume</a></li>
      </ul>
    </div>
    <div>
      <h3 class="font-semibold">Ext. Resources</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:underline">Bookmarks</a></li>
        <li><a href="#" class="hover:underline">Analytics</a></li>
        <li><a href="#" class="hover:underline">RSS</a></li>
      </ul>
    </div>
  </div>
</footer>
