---
import config from '@/config'

import BaseHead from '@/components/BaseHead.astro'
import Nav from '@/components/Nav.astro'
import Footer from '@/components/Footer.astro'

import '@fontsource/inter/600.css'
import '@fontsource/inter/400.css'

const {
    meta: { title, description = config.description },
} = Astro.props
---

<html class="scroll-smooth" lang={config.lang}>
  <head>
    <BaseHead title={title} description={description} />
    <script defer src="https://cloud.umami.is/script.js" data-website-id="cfdc498a-5723-48b5-874b-a126717a68bb" is:inline></script>
  </head>
  <body
    class="bg-bg px-5 font-base text-text scrollbar scrollbar-thumb-black dark:bg-darkBg dark:text-darkText dark:scrollbar-thumb-white"
  >
    <Nav />
    <main
      class="py-10 pt-[120px] w400:pt-[140px]"
    >
      <div class="flex justify-center">
        <main
          class="w-full rounded-base border-2 border-border p-6 pt-10 shadow-light dark:border-darkBorder dark:shadow-dark transition-colors duration-300"
        >
          <slot />
        </main>
      </div>
    </main>
    <Footer />

    <script>
      import config from '@/config'

      function colorMode() {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
          document.documentElement.setAttribute(
            'data-theme',
            config.themes.dark as string,
          )
        } else {
          document.documentElement.classList.remove('dark')
          document.documentElement.setAttribute(
            'data-theme',
            config.themes.light as string,
          )
        }
      }

      colorMode()
      document.addEventListener('astro:after-swap', colorMode)
    </script>
  </body>
</html>
